# TP2 - DB Normalization and Querying

The objectives of this TP are:
1. Apply normalization 1NF -> 2NF -> 3NF
2. Perform SQL queries on the normalized database

In this TP, we will use a database **`wine.db`** (available in the course's website) containing wine information related to 'production' and 'sales'. 

> Production <---> Wine <---> Sales


---

### Working with db files in Jupyter
- Python provides an interface for SQLite through the *sqlite3* module
- The **`%%sql`** magic builds upon it (and other tools) to enable the usage of SQL commands within a Jupyter Notebook as in common SQL clients.
- Before proceeding, make sure that **`wine.db`** is in the same path as this notebook.
  - If **`wine.db`** is not in the same path, an empty **`wine.db`** file will be created, resulting in errors in later steps of the TP.
- The SQLite module in Python commits transactions automatically, this means that any change in the DB is immediately written to the file, e.g. creating/deleting tables.
  -  For this reason, it is recommended to have a backup of **`wine.db`** as it is provided in the course's website.

---

**`wine.db`** contains the following unnormalized tables:

<center>**Master1**</center>

|*Attribute*|         *Description*          |
| -------   |--------------------------------|
| NV        | Wine number                    |
| CRU       | Vineyard or group of vineyards |
| DEGRE     | Alcohol content                |
| MILL      | Vintage year                   |
| QTE       | Number of bottles harvested    |
| NP        | Producer number                |
| NOM       | Producer's last name           |
| PRENOM    | Producer's first name          |
| REGION    | Production region              |

From wikipedia:

__Cru__: Often used to indicate a specifically named and legally defined vineyard or ensemble of vineyards and the vines "which grow on [such] a reputed terroir; by extension of good quality." The term is also used to refer to the wine produced from such vines.


<center>**Master2**</center>

|*Attribute*|                         *Description*                  |
| -------   |--------------------------------------------------------|
| NV        | Wine number                                            |
| CRU       | Vineyard or group of vineyards                         |
| DEGRE     | Alcohol content                                        |
| MILL      | Vintage year                                           |
| DATES     | Buying date                                            |
| LIEU      | Place where the wine was sold                          |
| QTE       | Number of bottles bought                               |
| NB        | Client (buveur) number                                 |
| NOM       | Client's last name                                     |
| PRENOM    | Client's first name                                    |
| TYPE      | Type of client by volume of purchases                  |
| REGION    | Administrative Region (different to production region) |

In [1]:
import sqlite3    # Python interface for SQLite databases

In [2]:
def printSchema(connection):
    # Function to print the DB schema
    # Source: http://stackoverflow.com/a/35092773/4765776
    for (tableName,) in connection.execute(
        """
        select NAME from SQLITE_MASTER where TYPE='table' order by NAME;
        """
    ):
        print("{}:".format(tableName))
        for (
            columnID, columnName, columnType,
            columnNotNull, columnDefault, columnPK,
        ) in connection.execute("pragma table_info('{}');".format(tableName)):
            print("  {id}: {name}({type}){null}{default}{pk}".format(
                id=columnID,
                name=columnName,
                type=columnType,
                null=" not null" if columnNotNull else "",
                default=" [{}]".format(columnDefault) if columnDefault else "",
                pk=" *{}".format(columnPK) if columnPK else "",
            ))

In [13]:
conn = sqlite3.connect('wine.db')
c = conn.cursor()
print("Database schema:")
printSchema(conn)           # An usefull way to visualize the content of the database

Database schema:
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(DATE)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
customer:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
location:
  0: LIEU(TEXT)
  1: REGION(TEXT)
producteur:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
production:
  0: NV(NUM)
  1: NP(NUM)
  2: QTE(NUM)
ventes:
  0: NV(NUM)
  1: NB(NUM)
  2: DATES(NUM)
  3: LIEU(TEXT)
  4: QTE(NUM)
wine:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)

From this point we will use __%%sql__ magic

In [4]:
%load_ext sql
%sql sqlite:///wine.db

'Connected: @wine.db'

# PART I: Database normalization

The first task on this TP is the normalization of the wine data. In its current state both tables **Master1** and **Master2** are in the First Normal Form (1NF).

By inspecting the content of these tables we can see that multiple tuples have NULL values.

In [5]:
%%sql SELECT *
FROM Master1
LIMIT 10;

 * sqlite:///wine.db
Done.

[(None, None, None, None, None, 3, 'Six', 'Paul', 'Alsace'),
 (None, None, None, None, None, 6, 'Marmagne', 'Bernard', 'Bourgogne'),
 (None, None, None, None, None, 8, "Lioger d'Harduy", 'Gabriel', 'Bourgogne'),
 (None, None, None, None, None, 16, 'Barbin', 'Bernard', 'Bourgogne'),
 (None, None, None, None, None, 17, 'Faiveley', 'Guy', 'Bourgogne'),
 (None, None, None, None, None, 18, 'Tramier', 'Jean', 'Bourgogne'),
 (None, None, None, None, None, 19, 'Dupaquier', 'Roger', 'Bourgogne'),
 (None, None, None, None, None, 20, 'Lamy', 'Jean', 'Bourgogne'),
 (None, None, None, None, None, 21, 'Cornu', 'Edmond', 'Bourgogne'),
 (None, None, None, None, None, 26, 'Violot', 'Gilbert', 'Bourgogne')]

* Notice that Jupyter *displays* 'None' instead of 'NULL'. 
  - This is only to comply with python notation.
* To account for NULL values, your SQL queries must test explicitly for 'NULL'.

Another problem in **Master1** and **Master2** is data redundancy, for example:

In [6]:
%%sql SELECT *
FROM Master1
WHERE NV = 45;

 * sqlite:///wine.db
Done.

[(45, 'Chiroubles', None, 1983, 90, 2, 'Boxler', 'Albert', 'Alsace'),
 (45, 'Chiroubles', None, 1983, 912, 67, 'Descombes', 'Jean Ernest', 'Beaujolais'),
 (45, 'Chiroubles', None, 1983, 98, 71, 'Chalandard', 'Danile', 'Jura'),
 (45, 'Chiroubles', None, 1983, 540, 78, 'Michlel', 'Pierre Emile', 'Jura'),
 (45, 'Chiroubles', None, 1983, 450, 86, 'Dumazet', 'Marc', 'Rhone')]

---

Additional resource for Normalization:

https://www.youtube.com/watch?v=UrYLYV7WSHM

---

#### Exercise 1.1

Convert table **Master1** to the Second Normal Form (2NF) or Third Normal Form (3NF) as applicable.
* Explain your answer
* List main functional dependencies (not all of them)
* Describe the schema of new tables and how they relate
  * You can write Tables as above or you can insert images in the notebook.
  
Remember that **`wine.db`** contains information related to wine 'production' and 'sells'.

> Production <---> Wine <---> Sales

A good start point is to look for the 'Wine' attributes.

**Hint:** Look for redundant information between the master tables.

To convert table Master1 to a Third Normal Form (3NF), we can split the table between 3 tables ( Wine, Sales, and Production) in order to remove repeating groups, remove partial dependencies, and remove transitive dependencies we have:
1. WINE['NV', 'CRU', 'DEGRE', 'MILL']
2. PRODUCTION['NV', 'NP', 'QTE']
3. PRODUCTEUR['NP', 'NOM', 'PRENOM', 'REGION']

First, lets have a look to the first table, Wine :

In [7]:
%%sql
SELECT nv, cru, degre, mill
FROM Master1 
WHERE nv != "NONE" 
ORDER BY nv ASC

 * sqlite:///wine.db
Done.

[(1, 'Mercurey', 11.5, 1980),
 (1, 'Mercurey', 11.5, 1980),
 (2, 'Julienas', 11.3, 1974),
 (3, 'Savigny les Beaunes', 12.1, 1978),
 (4, 'Mercurey', 10.9, 1980),
 (5, 'Pommard', 11.7, 1976),
 (6, 'Mercurey', 11.2, 1981),
 (7, 'Grands Echezeaux', 11.7, 1968),
 (8, 'Cotes de Beaune Villages', 12.3, 1975),
 (9, 'Chapelle Chambertin', 11.9, 1973),
 (10, 'Beaujolais Villages', 11.8, 1979),
 (11, 'Sylvaner', 11.2, 1982),
 (12, 'Gentil', 10.7, 1975),
 (12, 'Gentil', 10.7, 1975),
 (12, 'Gentil', 10.7, 1975),
 (13, 'Cotes du Rhone', 12.3, 1968),
 (14, 'Chateau Chalon', 10.9, 1978),
 (15, 'Cote de Brouilly', 11.9, 1973),
 (16, 'Meursault', 12.1, 1980),
 (17, 'Meursault', 11.4, 1975),
 (18, 'Chambolle Musigny', 12.3, 1968),
 (19, 'Clos du roi', 11.2, 1972),
 (20, 'Cote de Brouilly', 12.1, 1980),
 (21, 'Cotes de Nuits', None, 1978),
 (22, 'Savigny les Beaunes', None, 1974),
 (23, 'Pommard', None, 1972),
 (24, 'Cotes de Beaune Villages', 12.1, 1971),
 (25, 'Chapelle Chambertin', 10.5, 1968),
 (26, 'Chateau Corton Grancey', None, 1980),
 (27, 'Puligny Montrachet', 11, 1974),
 (28, 'Volnay', 11, 1980),
 (29, 'Corton', 11.6, 1972),
 (30, 'Bourgogne Passe Tout Grains', 12, 1979),
 (31, 'Monthelie', 11.4, 1968),
 (32, 'Pouilly Vinzelles', 12.3, 1968),
 (32, 'Pouilly Vinzelles', 12.3, 1968),
 (33, 'Santenay', 12, 1972),
 (34, 'Montagny', 11.2, 1978),
 (35, 'Auxey Duresses', 11.3, 1914),
 (35, 'Auxey Duresses', 11.3, 1914),
 (36, 'Chorey les Beaunes', 11, 1955),
 (37, 'Savigny les Beaunes', 10, 1978),
 (38, 'Savigny les Beaunes', 11, 1977),
 (39, 'Savigny les Beaunes', None, 1973),
 (40, 'Richebourg', 12, 1943),
 (41, 'Clairette de Die', 12, 1976),
 (42, 'Beaujolais Primeur', 12, 1983),
 (43, 'Fleurie', 11.4, 1980),
 (43, 'Fleurie', 11.4, 1980),
 (43, 'Fleurie', 11.4, 1980),
 (44, 'Moulin a vent', None, 1983),
 (45, 'Chiroubles', None, 1983),
 (45, 'Chiroubles', None, 1983),
 (45, 'Chiroubles', None, 1983),
 (45, 'Chiroubles', None, 1983),
 (45, 'Chiroubles', None, 1983),
 (46, 'Chiroubles', 11, 1983),
 (47, 'Chiroubles', 11, 1978),
 (48, 'Cote de Brouilly', 12, 1899),
 (49, 'Morgon', 12, 1984),
 (50, 'Chenas', 11.5, 1984),
 (51, 'Chenas', 10, 1975),
 (52, 'Brouilly', None, 1975),
 (53, 'Beaujolais Villages', None, 1975),
 (54, 'Beaujolais Villages', 10.5, 1976),
 (54, 'Beaujolais Villages', 10.5, 1976),
 (54, 'Beaujolais Villages', 10.5, 1976),
 (54, 'Beaujolais Villages', 10.5, 1976),
 (55, 'Beaujolais Villages', 12.1, 1978),
 (56, 'Saint Amour', None, 1974),
 (57, 'Crozes Hermitage', 12.1, 1974),
 (58, 'Crozes Hermitage', 12.5, 1975),
 (59, 'Crozes - Hermitage', 12.3, 1972),
 (60, 'Crozes-Hermitage', 11, 1983),
 (60, 'Crozes-Hermitage', 11, 1983),
 (61, 'Hermitage', 12, 1979),
 (62, 'Gigondas', 11, 1978),
 (63, 'Coteaux du Tricastin', 10, 1978),
 (64, 'Coteaux du Tricastin', 11, 1974),
 (64, 'Coteaux du Tricastin', 11, 1974),
 (65, 'Rochgrande', 10.8, 1968),
 (65, 'Rochgrande', 10.8, 1968),
 (66, 'Tavel', 11, 1968),
 (67, 'Gewurztraminer', 12.5, 1968),
 (67, 'Gewurztraminer', 12.5, 1968),
 (67, 'Gewurztraminer', 12.5, 1968),
 (68, 'Riesling', 14, 1962),
 (69, "Tokay d'Alsace", 11, 1982),
 (69, "Tokay d'Alsace", 11, 1982),
 (69, "Tokay d'Alsace", 11, 1982),
 (70, 'Sylvaner', 11, 1982),
 (71, 'Palette', 11, 1981),
 (72, 'Cassis', 10, 1978),
 (73, 'Bellet', 11, 1976),
 (74, 'Arbois', 12, 1980),
 (74, 'Arbois', 12, 1980),
 (74, 'Arbois', 12, 1980),
 (75, 'Arbois', 11, 1976),
 (76, 'Chateau Chalon', 12, 1976),
 (76, 'Chateau Chalon', 12, 1976),
 (77, 'Etoile', 11, 1979),
 (78, 'Etoile', 12, 1980),
 (78, 'Etoile', 12, 1980),
 (78, 'Etoile', 12, 1980),
 (78, 'Etoile', 12, 1980),
 (78, 'Etoile', 12, 1980),
 (79, 'Seyssel', 11, 1980),
 (79, 'Seyssel', 11, 1980),
 (79, 'Seyssel', 11, 1980),
 (80, 'Seyssel', 11, 1980),
 (81, 'Cornas', 11.1, 1980),
 (82, 'Cornas', 11, 1980),
 (82, 'Cornas', 11, 1980),
 (83, 'Saint Amour', 10, 1980),
 (84, 'Rasteau', 10, 1980),
 (85, 'Tavel', 11, 1980),
 (86, 'Tavel', 11, 1980),
 (87, 'Cotes de Provence', None, 1980),
 (87, 'Cotes de Provence', None, 1980),
 (87, 'Cotes de Provence', None, 1980),
 (88, 'Cotes de Provence', 10, 1976),
 (89, 'Cotes de Provence', 11, 1969),
 (89, 'Cotes de Provence', 11, 1969),
 (89, 'Cotes de Provence', 11, 1969),
 (89, 'Cotes de Provence', 11, 1969),
 (89, 'Cotes de Provence', 11, 1969),
 (90, 'Palette', 11, 1969),
 (90, 'Palette', 11, 1969),
 (91, 'Cassis', 11, 1979),
 (92, 'Coteaux de Pierevert', None, 1967),
 (93, 'Blanquette de Limoux', None, 1978),
 (94, 'Cotes du Rousillon', None, 1978),
 (94, 'Cotes du Rousillon', None, 1978),
 (95, 'Cotes du Rousillon', 12, 1978),
 (96, 'Saint Chinian', 11, 1976),
 (97, 'Saint Chinian', 11, 1976),
 (98, 'Corbieres', 10, 1978),
 (98, 'Corbieres', 10, 1978),
 (98, 'Corbieres', 10, 1978),
 (98, 'Corbieres', 10, 1978),
 (98, 'Corbieres', 10, 1978),
 (99, 'Cote Rotie', 13, 1994),
 (99, 'Cote Rotie', 13, 1994),
 (100, 'Seyssel', 11, 1974),
 (101, 'Saint Veran', 12.5, 1973),
 (107, 'Sancerre', 14, 1998)]

We can conclude that in the table WINE, the attribute 'NV' is key => 3NF

Then, lets have a look to the second table, PRODUCTION :

In [8]:
%%sql
SELECT np, nv, qte 
FROM Master1 
ORDER BY np, nv

 * sqlite:///wine.db
Done.

[(None, 9, None),
 (None, 40, 90),
 (None, 54, 210),
 (None, 63, 136),
 (None, 66, 124),
 (None, 89, 980),
 (1, 1, 300),
 (1, 3, 400),
 (1, 54, 500),
 (2, 45, 90),
 (2, 49, 150),
 (2, 50, 100),
 (2, 54, 900),
 (3, None, None),
 (4, 34, None),
 (4, 78, 300),
 (5, 2, 100),
 (5, 11, 200),
 (5, 21, 150),
 (5, 67, 125),
 (5, 99, 100),
 (6, None, None),
 (7, 12, 31),
 (7, 19, 986),
 (8, None, None),
 (9, 32, 500),
 (9, 69, 96),
 (10, 4, 35),
 (10, 35, 900),
 (10, 67, 890),
 (11, 92, 900),
 (11, 94, 500),
 (12, 65, 10),
 (12, 68, None),
 (12, 69, 320),
 (13, 13, 13),
 (13, 43, 500),
 (14, 54, 500),
 (14, 55, 450),
 (15, 51, 36),
 (15, 89, 150),
 (16, None, None),
 (17, None, None),
 (18, None, None),
 (19, None, None),
 (20, None, None),
 (21, None, None),
 (22, 30, 350),
 (23, 35, 350),
 (24, 56, 790),
 (24, 98, 986),
 (25, 65, 560),
 (25, 100, 100),
 (26, None, None),
 (27, 78, 360),
 (27, 94, 180),
 (28, None, None),
 (29, None, None),
 (30, 5, 46),
 (30, 78, 900),
 (31, None, None),
 (32, None, None),
 (33, None, None),
 (34, None, None),
 (35, 98, 400),
 (36, 24, 859),
 (37, None, None),
 (38, 16, 100),
 (38, 70, 120),
 (38, 71, 132),
 (38, 73, 45),
 (38, 75, 69),
 (38, 87, 630),
 (39, None, None),
 (40, 18, 120),
 (40, 52, 500),
 (40, 53, 800),
 (40, 57, 940),
 (41, None, None),
 (42, 6, 300),
 (42, 89, 980),
 (43, 12, 200),
 (43, 26, 70),
 (43, 82, 100),
 (44, None, None),
 (45, 58, 70),
 (45, 59, 160),
 (45, 87, 680),
 (46, 76, 100),
 (47, None, None),
 (48, None, None),
 (49, None, None),
 (50, 20, 100),
 (50, 28, 10),
 (50, 29, 50),
 (50, 31, 320),
 (50, 60, 300),
 (51, None, None),
 (52, 38, 125),
 (52, 39, 80),
 (52, 47, 75),
 (52, 72, 34),
 (53, None, None),
 (54, 37, 830),
 (55, 85, 46),
 (55, 88, 129),
 (55, 89, 723),
 (56, 90, 900),
 (57, None, None),
 (58, None, None),
 (59, 96, 370),
 (60, 33, 70),
 (60, 60, 60),
 (60, 62, 900),
 (61, None, None),
 (62, None, None),
 (64, 46, 760),
 (66, None, None),
 (67, 45, 912),
 (68, 78, 980),
 (69, 69, 690),
 (70, 74, 650),
 (70, 97, 101),
 (70, 101, 213),
 (71, 45, 98),
 (72, 32, 890),
 (72, 43, 900),
 (72, 64, 870),
 (72, 74, 850),
 (72, 87, 900),
 (73, 1, 1),
 (74, 79, 100),
 (75, 98, 150),
 (76, 41, 25),
 (76, 98, 890),
 (77, None, None),
 (78, 45, 540),
 (79, 79, 79),
 (79, 91, 24),
 (79, 93, 110),
 (80, 15, 290),
 (80, 78, 970),
 (80, 82, 800),
 (81, 79, 800),
 (82, 42, 80),
 (82, 67, 760),
 (83, None, None),
 (84, 74, 675),
 (85, 43, 983),
 (85, 64, 980),
 (85, 76, 900),
 (85, 77, 100),
 (86, 14, 180),
 (86, 22, 50),
 (86, 23, 15),
 (86, 45, 450),
 (88, 98, 340),
 (89, 12, 310),
 (89, 89, 100),
 (90, 8, 12),
 (90, 61, 120),
 (90, 80, 79),
 (90, 81, 24),
 (91, None, None),
 (92, None, None),
 (93, 36, 50),
 (93, 44, 40),
 (93, 48, 70),
 (93, 86, 500),
 (94, None, None),
 (95, 17, 50),
 (95, 25, 40),
 (95, 83, 423),
 (95, 84, 146),
 (95, 90, 40),
 (95, 95, 900),
 (96, None, None),
 (97, None, None),
 (98, 7, 60),
 (98, 10, 100),
 (99, 27, 60),
 (99, 99, 199),
 (100, None, None),
 (101, None, None),
 (102, None, None),
 (103, None, None),
 (104, None, None),
 (105, None, None),
 (106, None, None),
 (107, 107, 7000),
 (108, None, None),
 (109, None, None),
 (110, None, None),
 (111, None, None),
 (112, None, None),
 (113, None, None),
 (114, None, None),
 (115, None, None),
 (116, None, None),
 (117, None, None),
 (118, None, None),
 (119, None, None),
 (121, None, None),
 (122, None, None),
 (123, None, None),
 (124, None, None),
 (125, None, None),
 (126, None, None),
 (127, None, None),
 (129, None, None)]

We can conclude that in the table PRODUCTION , the attribute {'NP','NV'} is key => 3NF

Finally, lets have a look to the third table, PRODUCTEUR :

In [9]:
%sql SELECT np, nom, prenom, region FROM Master1 ORDER BY np ASC

 * sqlite:///wine.db
Done.

[(None, None, None, None),
 (None, None, None, None),
 (None, None, None, None),
 (None, None, None, None),
 (None, None, None, None),
 (None, None, None, None),
 (1, 'Bohn', 'Rene', 'Alsace'),
 (1, 'Bohn', 'Rene', 'Alsace'),
 (1, 'Bohn', 'Rene', 'Alsace'),
 (2, 'Boxler', 'Albert', 'Alsace'),
 (2, 'Boxler', 'Albert', 'Alsace'),
 (2, 'Boxler', 'Albert', 'Alsace'),
 (2, 'Boxler', 'Albert', 'Alsace'),
 (3, 'Six', 'Paul', 'Alsace'),
 (4, 'Stentz', 'Fernand', 'Alsace'),
 (4, 'Stentz', 'Fernand', 'Alsace'),
 (5, 'Joudeat', 'Lucien', 'Bourgogne'),
 (5, 'Joudeat', 'Lucien', 'Bourgogne'),
 (5, 'Joudeat', 'Lucien', 'Bourgogne'),
 (5, 'Joudeat', 'Lucien', 'Bourgogne'),
 (5, 'Joudeat', 'Lucien', 'Bourgogne'),
 (6, 'Marmagne', 'Bernard', 'Bourgogne'),
 (7, 'Lasnier', 'Pierre', 'Bourgogne'),
 (7, 'Lasnier', 'Pierre', 'Bourgogne'),
 (8, "Lioger d'Harduy", 'Gabriel', 'Bourgogne'),
 (9, 'Moniot', 'Gilbert', 'Bourgogne'),
 (9, 'Moniot', 'Gilbert', 'Bourgogne'),
 (10, 'Fournier', 'Jean Claude', 'Bourgogne'),
 (10, 'Fournier', 'Jean Claude', 'Bourgogne'),
 (10, 'Fournier', 'Jean Claude', 'Bourgogne'),
 (11, 'Clerget', 'Anne', 'Bourgogne'),
 (11, 'Clerget', 'Anne', 'Bourgogne'),
 (12, 'Tortochot', 'Gabriel', 'Bourgogne'),
 (12, 'Tortochot', 'Gabriel', 'Bourgogne'),
 (12, 'Tortochot', 'Gabriel', 'Bourgogne'),
 (13, 'Grivot', 'Jean', 'Bourgogne'),
 (13, 'Grivot', 'Jean', 'Bourgogne'),
 (14, 'Jayer', 'Henri', 'Bourgogne'),
 (14, 'Jayer', 'Henri', 'Bourgogne'),
 (15, 'Drouhin', 'Joseph', 'Bourgogne'),
 (15, 'Drouhin', 'Joseph', 'Bourgogne'),
 (16, 'Barbin', 'Bernard', 'Bourgogne'),
 (17, 'Faiveley', 'Guy', 'Bourgogne'),
 (18, 'Tramier', 'Jean', 'Bourgogne'),
 (19, 'Dupaquier', 'Roger', 'Bourgogne'),
 (20, 'Lamy', 'Jean', 'Bourgogne'),
 (21, 'Cornu', 'Edmond', 'Bourgogne'),
 (22, 'Dubreuil Fontaine', 'Pierre', 'Bourgogne'),
 (23, 'Laleure', None, 'Bourgogne'),
 (24, 'Guillemot', 'Pierre', 'Bourgogne'),
 (24, 'Guillemot', 'Pierre', 'Bourgogne'),
 (25, 'Valentin Bouchotte', 'Roger', 'Bourgogne'),
 (25, 'Valentin Bouchotte', 'Roger', 'Bourgogne'),
 (26, 'Violot', 'Gilbert', 'Bourgogne'),
 (27, 'Glantenay', 'Louis', 'Bourgogne'),
 (27, 'Glantenay', 'Louis', 'Bourgogne'),
 (28, 'Monnier', 'Rene', 'Bourgogne'),
 (29, 'de Suremain', 'Robert', 'Bourgogne'),
 (30, 'Desbois', 'Maurice', 'Bourgogne'),
 (30, 'Desbois', 'Maurice', 'Bourgogne'),
 (31, 'Prudhon', 'Henri', 'Bourgogne'),
 (32, 'Mestre', 'Philippe', 'Bourgogne'),
 (33, 'Prieur', 'Guy', 'Bourgogne'),
 (34, 'Monnier', 'Rene', 'Bourgogne'),
 (35, 'Roulot', 'Guy', 'Bourgogne'),
 (36, 'Sauzet', 'Etienne', 'Bourgogne'),
 (37, 'Delagrange Bachelet', None, 'Bourgogne'),
 (38, 'de Launay', 'Paul', 'Bourgogne'),
 (38, 'de Launay', 'Paul', 'Bourgogne'),
 (38, 'de Launay', 'Paul', 'Bourgogne'),
 (38, 'de Launay', 'Paul', 'Bourgogne'),
 (38, 'de Launay', 'Paul', 'Bourgogne'),
 (38, 'de Launay', 'Paul', 'Bourgogne'),
 (39, 'de Suremin', 'Hugues', 'Bourgogne'),
 (40, 'Genelot', 'Maurice', 'Bourgogne'),
 (40, 'Genelot', 'Maurice', 'Bourgogne'),
 (40, 'Genelot', 'Maurice', 'Bourgogne'),
 (40, 'Genelot', 'Maurice', 'Bourgogne'),
 (41, 'Juillot', 'Michel', 'Bourgogne'),
 (42, 'Juillot', 'Maurice', 'Bourgogne'),
 (42, 'Juillot', 'Maurice', 'Bourgogne'),
 (43, 'Menand', 'Jean Claude', 'Bourgogne'),
 (43, 'Menand', 'Jean Claude', 'Bourgogne'),
 (43, 'Menand', 'Jean Claude', 'Bourgogne'),
 (44, 'Feyveley', None, 'Bourgogne'),
 (45, 'Jeannin', 'Andre', 'Bourgogne'),
 (45, 'Jeannin', 'Andre', 'Bourgogne'),
 (45, 'Jeannin', 'Andre', 'Bourgogne'),
 (46, 'Monassier', 'Armand', 'Bourgogne'),
 (47, 'Thenard', None, 'Bourgogne'),
 (48, 'Flamand', None, 'Bourgogne'),
 (49, 'Guillot', 'Pierre', 'Bourgogne'),
 (50, 'Chagny', 'Georges', 'Bourgogne'),
 (50, 'Chagny', 'Georges', 'Bourgogne'),
 (50, 'Chagny', 'Georges', 'Bourgogne'),
 (50, 'Chagny', 'Georges', 'Bourgogne'),
 (50, 'Chagny', 'Georges', 'Bourgogne'),
 (51, 'Simonet', 'Leon', 'Bourgogne'),
 (52, 'Lapierre', 'Jean', 'Bourgogne'),
 (52, 'Lapierre', 'Jean', 'Bourgogne'),
 (52, 'Lapierre', 'Jean', 'Bourgogne'),
 (52, 'Lapierre', 'Jean', 'Bourgogne'),
 (53, 'Cooperative', None, 'Bourgogne'),
 (54, 'Cooperative', None, 'Bourgogne'),
 (55, 'Michon', None, 'Beaujolais'),
 (55, 'Michon', None, 'Beaujolais'),
 (55, 'Michon', None, 'Beaujolais'),
 (56, 'Coutelle', 'Jean', 'Beaujolais'),
 (57, 'Desmules', 'Pierre', 'Beaujolais'),
 (58, 'Joubert', 'Claude', 'Beaujolais'),
 (59, 'La Thuilliere', 'Jean', 'Beaujolais'),
 (60, 'Vernus', 'Georges', 'Beaujolais'),
 (60, 'Vernus', 'Georges', 'Beaujolais'),
 (60, 'Vernus', 'Georges', 'Beaujolais'),
 (61, 'Champier', 'Charles', 'Beaujolais'),
 (62, 'Champagnon', 'Louis', 'Beaujolais'),
 (64, 'Marius Bel Air', 'Morin', 'Beaujolais'),
 (66, 'Cooperative', None, 'Beaujolais'),
 (67, 'Descombes', 'Jean Ernest', 'Beaujolais'),
 (68, 'Savoye', 'Louis', 'Beaujolais'),
 (69, 'Janin', 'Marcel', 'Beaujolais'),
 (70, 'Trichard', 'Benoit', 'Beaujolais'),
 (70, 'Trichard', 'Benoit', 'Beaujolais'),
 (70, 'Trichard', 'Benoit', 'Beaujolais'),
 (71, 'Chalandard', 'Danile', 'Jura'),
 (72, 'Reverchon', 'Joseph', 'Jura'),
 (72, 'Reverchon', 'Joseph', 'Jura'),
 (72, 'Reverchon', 'Joseph', 'Jura'),
 (72, 'Reverchon', 'Joseph', 'Jura'),
 (72, 'Reverchon', 'Joseph', 'Jura'),
 (73, 'Bourguignon', 'Emile', 'Jura'),
 (74, 'Grand', 'Rene', 'Jura'),
 (75, 'Loye', 'Camille', 'Jura'),
 (76, 'Maire', 'Henri', 'Jura'),
 (76, 'Maire', 'Henri', 'Jura'),
 (77, 'Tissot', 'Andre', 'Jura'),
 (78, 'Michlel', 'Pierre Emile', 'Jura'),
 (79, 'Petit', 'Gerard', 'Jura'),
 (79, 'Petit', 'Gerard', 'Jura'),
 (79, 'Petit', 'Gerard', 'Jura'),
 (80, 'Devaux', 'Jean Paul', 'Jura'),
 (80, 'Devaux', 'Jean Paul', 'Jura'),
 (80, 'Devaux', 'Jean Paul', 'Jura'),
 (81, 'Peltier', 'Pierre', 'Jura'),
 (82, 'Mollex', 'Georges', 'Savoie'),
 (82, 'Mollex', 'Georges', 'Savoie'),
 (83, 'Goy', None, 'Jura'),
 (84, 'Metral', 'Jean', 'Jura'),
 (85, 'Champet', 'Emile', 'Rhone'),
 (85, 'Champet', 'Emile', 'Rhone'),
 (85, 'Champet', 'Emile', 'Rhone'),
 (85, 'Champet', 'Emile', 'Rhone'),
 (86, 'Dumazet', 'Marc', 'Rhone'),
 (86, 'Dumazet', 'Marc', 'Rhone'),
 (86, 'Dumazet', 'Marc', 'Rhone'),
 (86, 'Dumazet', 'Marc', 'Rhone'),
 (88, 'Begot', 'Albert', 'Rhone'),
 (89, 'Michelas', 'Robert', 'Rhone'),
 (89, 'Michelas', 'Robert', 'Rhone'),
 (90, 'Roure', 'Raymond', 'Rhone'),
 (90, 'Roure', 'Raymond', 'Rhone'),
 (90, 'Roure', 'Raymond', 'Rhone'),
 (90, 'Roure', 'Raymond', 'Rhone'),
 (91, 'Chave', 'Gerard', 'Rhone'),
 (92, 'De Boissieu', None, 'Rhone'),
 (93, 'Marsanne', 'Jean', 'Rhone'),
 (93, 'Marsanne', 'Jean', 'Rhone'),
 (93, 'Marsanne', 'Jean', 'Rhone'),
 (93, 'Marsanne', 'Jean', 'Rhone'),
 (94, 'Grippat', 'Jean Louis', 'Rhone'),
 (95, 'Verset', 'Louis', 'Rhone'),
 (95, 'Verset', 'Louis', 'Rhone'),
 (95, 'Verset', 'Louis', 'Rhone'),
 (95, 'Verset', 'Louis', 'Rhone'),
 (95, 'Verset', 'Louis', 'Rhone'),
 (95, 'Verset', 'Louis', 'Rhone'),
 (96, 'Boisson', 'Jean Pierre', 'Rhone'),
 (97, 'Quiot', 'Pierre', 'Rhone'),
 (98, 'Berard', None, 'Rhone'),
 (98, 'Berard', None, 'Rhone'),
 (99, 'Cooperative', None, 'Rhone'),
 (99, 'Cooperative', None, 'Rhone'),
 (100, 'Bernard', 'Georges', 'Rhone'),
 (101, 'Verdan', 'Antoine', 'Rhone'),
 (102, 'Cooperative', None, 'Rhone'),
 (103, 'Coulouvrat', 'Michel', 'Rhone'),
 (104, 'Rabasse Chavarin', 'Abel', 'Rhone'),
 (105, 'Roux', 'Charles', 'Rhone'),
 (106, 'Alary', None, 'Rhone'),
 (107, 'Meunier', 'Laurent', 'Rhone'),
 (108, 'Archimbaud', 'Jean', 'Rhone'),
 (109, 'Rey', 'Marcel', 'Rhone'),
 (110, 'Cooperative', None, 'Rhone'),
 (111, 'Zafiropulo', 'Costa', 'Provence'),
 (112, 'Prebost', 'Gaston', 'Provence'),
 (113, 'Gomez', 'Rene', 'Provence'),
 (114, 'Brunet', 'Georges', 'Provence'),
 (115, 'Bordonado', 'Raymond', 'Provence'),
 (116, 'Imbert', 'Christian', 'Corse'),
 (117, 'Cooperative', None, 'Languedoc'),
 (118, 'Cooperative', None, 'Languedoc'),
 (119, 'Cooperative', None, 'Pyrenees'),
 (121, 'Cooperative', None, 'Pyrenees'),
 (122, 'Dupuy', 'Charles', 'Pyrenees'),
 (123, 'Laurent', 'Pierre', 'Pyrenees'),
 (124, 'Daurat Fort', 'Robert', 'Pyrenees'),
 (125, 'Baldes', 'Jean', 'Sud'),
 (126, 'Jouffreau', 'Jean', 'Sud'),
 (127, 'Brumont', 'Alban', 'Sud'),
 (129, 'Barrere', 'Alfred', 'Sud')]

We can conclude that in the table PRODUCTEUR, the attribute 'NP' is key => 3NF

Finally we have 3 tables :
1. WINE['NV', 'CRU', 'DEGRE', 'MILL'] with'NV' as a key
2. PRODUCTION ['NV', 'NP', 'QTE'] with'NV','NP' as a key
3. PRODUCTEUR['NP', 'NOM', 'PRENOM', 'REGION'] with'NP' as a key

#### Exercise 1.2

Convert table **Master2** to the Second Normal Form (2NF) or Third Normal Form (3NF) as applicable.
* Explain your answer
* List main functional dependencies (not all of them)
* Describe the schema of new tables and how they relate
  * You can write Tables as above or you can insert images in the notebook.

**Note:** For this part, consider that a wine can be bought in multiple locations and multiple times per day.

To convert table Master2 to a Third Normal Form (3NF), we can split the table between 4 tables ( Wine, Customers, Sales, and Location) in order to remove repeating groups, remove partial dependencies, and remove transitive dependencies we have:
1. WINE['NV', 'CRU', 'DEGRE', 'MILL']
2. CUSTOMERS['NB', 'NOM', 'PRENOM', 'TYPE']
3. VENTES['NV', 'NB', 'DATES', 'LIEU', 'QTE']
4. LOCATION['LIEU', 'REGION']

In [10]:
First, lets have a look to the first table, WINE :

SyntaxError: invalid syntax (<ipython-input-10-0486dfa50116>, line 1)

In [ ]:
%%sql SELECT nv, cru, degre, mill 
FROM Master2 
WHERE nv != 'None'

We can conclude that in the table WINE, the attribute 'NV' is key => 3NF

Then, lets have a look to the first table, CUSTOMER :

In [ ]:
%%sql SELECT nb, nom, prenom, type 
FROM Master2 
WHERE nb != "None" 
ORDER BY nb
LIMIT 100

We can conclude that in the table CUSTOMER, the attribute 'NB' is key => 3NF

Then, lets have a look to the first table, VENTES :

In [ ]:
%%sql 
SELECT nv, nb, dates, lieu, qte 
FROM Master2
WHERE nb != 'None' and nv != 'None' and dates != 'None' and lieu != 'None'

We can conclude that in the table VENTES, the attribute {'NV','NB', 'DATE', 'LIEU'} is key => 3NF

Finally, lets have a look to the fourth table, LOCATION :

In [ ]:
%%sql 
SELECT lieu, region
FROM Master2
WHERE lieu != 'None'

We can conclude that in the table LOCATION, the attribute 'LIEU' is key => 3NF

Finally we have 4 tables :
1. WINE['NV', 'CRU', 'DEGRE', 'MILL'] with 'NV' as a key
2. CUSTOMERS['NB', 'NOM', 'PRENOM', 'TYPE'] with 'NB' as a key
3. VENTES['NV', 'NB', 'DATES', 'LIEU', 'QTE'] with {'NV','NB','DATES','LIEU'} as a key
4. LOCATION['LIEU', 'REGION'] with 'LIEU' as a key

Once you have defined the 2NF or 3NF (as applicable) we need to split the data into new tables.

A table can be created from the result of a query.

In the following example we will create a new table "dummy" to store the different values of alcohol content.

In [ ]:
%%sql DROP TABLE IF EXISTS dummy;

-- Create dummy table
CREATE TABLE dummy AS
SELECT DISTINCT DEGRE
FROM MASTER1;

In [ ]:
print("\nContent of the database")
printSchema(conn)

In [ ]:
%%sql
SELECT *
FROM dummy;

Looking into "dummy", we notice that our query includes NULL. This is not allowed if we were to use DEGRE as key for a table.

To correct this, we need to change the query to explicitly test for NULL as follows:

In [ ]:
%%sql DROP TABLE IF EXISTS dummy;

-- Create dummy table
CREATE TABLE dummy AS
SELECT DISTINCT DEGRE
FROM MASTER1
WHERE DEGRE IS NOT NULL;

SELECT *
FROM dummy;

Notice that we use `NULL` given that `None` is only used for display.

In [ ]:
# Remove "dummy" table
%sql DROP TABLE IF EXISTS dummy;

#### Exercise 1.3

Create the new tables from Master1:

In [14]:
%%sql 
DROP TABLE IF EXISTS wine;
DROP TABLE IF EXISTS production;
DROP TABLE IF EXISTS producteur;

-- Create wine table
CREATE TABLE wine AS
SELECT DISTINCT NV,CRU,DEGRE,MILL
FROM MASTER1
WHERE NV IS NOT NULL;

-- Create production table
CREATE TABLE production AS
SELECT DISTINCT NV,NP,QTE
FROM MASTER1
WHERE NP IS NOT NULL AND NV IS NOT NULL;

-- Create producteur table
CREATE TABLE producteur AS
SELECT DISTINCT NP,NOM,PRENOM,REGION
FROM MASTER1
WHERE NP IS NOT NULL;

 * sqlite:///wine.db
Done.
Done.
Done.
Done.
Done.
Done.

[]

#### Exercise 1.4

Create the new tables from Master2:

In [15]:
%%sql 
DROP TABLE IF EXISTS customer;
DROP TABLE IF EXISTS ventes;
DROP TABLE IF EXISTS location;

-- Create customers table
CREATE TABLE customer AS
SELECT DISTINCT NB,NOM,PRENOM,TYPE
FROM MASTER2
WHERE NB IS NOT NULL;

-- Create ventes table
CREATE TABLE ventes AS
SELECT DISTINCT NV,NB,DATES,LIEU,QTE
FROM MASTER2
WHERE NV IS NOT NULL AND NB IS NOT NULL AND DATES IS NOT NULL AND LIEU IS NOT NULL;

-- Create location table
CREATE TABLE location AS
SELECT DISTINCT LIEU,REGION
FROM MASTER2
WHERE LIEU IS NOT NULL;

 * sqlite:///wine.db
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [ ]:
print("\nContent of the database")
printSchema(conn)

# PART II: SQL QUERIES

In the second part of this TP you will create SQL queries to retrieve information from the database.

**Important:**

- You MUST use the normalized tables created in previous steps.
  - The normalized tables will also be used in TP3.
- Do NOT use **Master1** and **Master2** in your queries.

#### Exercise 2.1

What are the different types of clients (buveurs) by volume of purchases?

In [16]:
%%sql
SELECT DISTINCT type
FROM customer

 * sqlite:///wine.db
Done.

[('petit',), ('moyen',), ('gros',)]

#### Exercise 2.2

What regions produce Pommard or Brouilly?

In [27]:
%%sql
SELECT DISTINCT region 
FROM wine
INNER JOIN production ON wine.NV = production.NV
INNER JOIN producteur p ON p.NP = production.NP
WHERE wine.CRU = 'Pommard' OR wine.CRU = 'Brouilly'

 * sqlite:///wine.db
Done.

[('Bourgogne',), ('Rhone',)]

#### Exercise 2.3

What regions produce Pommard and Brouilly?

In [29]:
%%sql
SELECT DISTINCT REGION
FROM wine w
INNER JOIN production pn ON w.NV = pn.NV
INNER JOIN producteur pr ON pr.NP = pn.NP
WHERE w.CRU = 'Pommard' AND w.CRU = 'Brouilly'

 * sqlite:///wine.db
Done.

[]

#### Exercise 2.4

Get the number of wines bought by CRU and Millésime

In [55]:
%%sql
SELECT cru, mill, count(cru)
FROM wine w
INNER JOIN ventes v ON w.NV = v.NV
Group by cru, mill
ORDER BY cru

 * sqlite:///wine.db
Done.

[('Arbois', 1980, 1),
 ('Auxey Duresses', 1914, 1),
 ('Beaujolais Primeur', 1983, 2),
 ('Beaujolais Villages', 1975, 1),
 ('Beaujolais Villages', 1976, 1),
 ('Beaujolais Villages', 1978, 1),
 ('Beaujolais Villages', 1979, 3),
 ('Chapelle Chambertin', 1973, 3),
 ('Chateau Corton Grancey', 1980, 1),
 ('Chenas', 1984, 1),
 ('Clairette de Die', 1976, 2),
 ('Cornas', 1980, 2),
 ('Cote de Brouilly', 1980, 2),
 ('Coteaux du Tricastin', 1974, 1),
 ('Coteaux du Tricastin', 1978, 1),
 ('Cotes de Beaune Villages', 1971, 1),
 ('Cotes de Beaune Villages', 1975, 3),
 ('Cotes de Nuits', 1978, 1),
 ('Cotes de Provence', 1980, 1),
 ('Etoile', 1980, 1),
 ('Fleurie', 1980, 1),
 ('Gentil', 1975, 1),
 ('Gigondas', 1978, 1),
 ('Grands Echezeaux', 1968, 2),
 ('Julienas', 1974, 1),
 ('Mercurey', 1980, 6),
 ('Mercurey', 1981, 1),
 ('Meursault', 1980, 1),
 ('Monthelie', 1968, 2),
 ('Pommard', 1972, 1),
 ('Pommard', 1976, 2),
 ('Pouilly Vinzelles', 1968, 2),
 ('Rasteau', 1980, 1),
 ('Richebourg', 1943, 5),
 ('Saint Amour', 1974, 1),
 ('Saint Amour', 1980, 1),
 ('Savigny les Beaunes', 1974, 2),
 ('Savigny les Beaunes', 1977, 2),
 ('Savigny les Beaunes', 1978, 2),
 ('Seyssel', 1974, 3),
 ('Seyssel', 1980, 2),
 ('Tavel', 1980, 2),
 ('Volnay', 1980, 1)]

#### Exercise 2.5

Retrieve the wine number (NV) of wines produced by more than three producers

In [72]:
%%sql
SELECT w.NV, count(pr.NP) nbr_of_producer
FROM wine w
INNER JOIN production pn ON w.NV = pn.NV
INNER JOIN producteur pr ON pn.NP = pr.NP
GROUP BY w.NV
Having nbr_of_producer >=3

 * sqlite:///wine.db
Done.

[(12, 3),
 (43, 3),
 (45, 5),
 (54, 3),
 (67, 3),
 (69, 3),
 (74, 3),
 (78, 5),
 (79, 3),
 (87, 3),
 (89, 4),
 (98, 5)]

#### Exercise 2.6

Which producers have not produced any wine?

In [90]:
%%sql
SELECT *
FROM producteur pr
WHERE pr.NP NOT IN (
    SELECT production.NP
    FROM production)

 * sqlite:///wine.db
Done.

[(3, 'Six', 'Paul', 'Alsace'),
 (6, 'Marmagne', 'Bernard', 'Bourgogne'),
 (8, "Lioger d'Harduy", 'Gabriel', 'Bourgogne'),
 (16, 'Barbin', 'Bernard', 'Bourgogne'),
 (17, 'Faiveley', 'Guy', 'Bourgogne'),
 (18, 'Tramier', 'Jean', 'Bourgogne'),
 (19, 'Dupaquier', 'Roger', 'Bourgogne'),
 (20, 'Lamy', 'Jean', 'Bourgogne'),
 (21, 'Cornu', 'Edmond', 'Bourgogne'),
 (26, 'Violot', 'Gilbert', 'Bourgogne'),
 (28, 'Monnier', 'Rene', 'Bourgogne'),
 (29, 'de Suremain', 'Robert', 'Bourgogne'),
 (31, 'Prudhon', 'Henri', 'Bourgogne'),
 (32, 'Mestre', 'Philippe', 'Bourgogne'),
 (33, 'Prieur', 'Guy', 'Bourgogne'),
 (34, 'Monnier', 'Rene', 'Bourgogne'),
 (37, 'Delagrange Bachelet', None, 'Bourgogne'),
 (39, 'de Suremin', 'Hugues', 'Bourgogne'),
 (41, 'Juillot', 'Michel', 'Bourgogne'),
 (44, 'Feyveley', None, 'Bourgogne'),
 (47, 'Thenard', None, 'Bourgogne'),
 (48, 'Flamand', None, 'Bourgogne'),
 (49, 'Guillot', 'Pierre', 'Bourgogne'),
 (51, 'Simonet', 'Leon', 'Bourgogne'),
 (53, 'Cooperative', None, 'Bourgogne'),
 (57, 'Desmules', 'Pierre', 'Beaujolais'),
 (58, 'Joubert', 'Claude', 'Beaujolais'),
 (61, 'Champier', 'Charles', 'Beaujolais'),
 (62, 'Champagnon', 'Louis', 'Beaujolais'),
 (66, 'Cooperative', None, 'Beaujolais'),
 (77, 'Tissot', 'Andre', 'Jura'),
 (83, 'Goy', None, 'Jura'),
 (91, 'Chave', 'Gerard', 'Rhone'),
 (92, 'De Boissieu', None, 'Rhone'),
 (94, 'Grippat', 'Jean Louis', 'Rhone'),
 (96, 'Boisson', 'Jean Pierre', 'Rhone'),
 (97, 'Quiot', 'Pierre', 'Rhone'),
 (100, 'Bernard', 'Georges', 'Rhone'),
 (101, 'Verdan', 'Antoine', 'Rhone'),
 (102, 'Cooperative', None, 'Rhone'),
 (103, 'Coulouvrat', 'Michel', 'Rhone'),
 (104, 'Rabasse Chavarin', 'Abel', 'Rhone'),
 (105, 'Roux', 'Charles', 'Rhone'),
 (106, 'Alary', None, 'Rhone'),
 (108, 'Archimbaud', 'Jean', 'Rhone'),
 (109, 'Rey', 'Marcel', 'Rhone'),
 (110, 'Cooperative', None, 'Rhone'),
 (111, 'Zafiropulo', 'Costa', 'Provence'),
 (112, 'Prebost', 'Gaston', 'Provence'),
 (113, 'Gomez', 'Rene', 'Provence'),
 (114, 'Brunet', 'Georges', 'Provence'),
 (115, 'Bordonado', 'Raymond', 'Provence'),
 (116, 'Imbert', 'Christian', 'Corse'),
 (117, 'Cooperative', None, 'Languedoc'),
 (118, 'Cooperative', None, 'Languedoc'),
 (119, 'Cooperative', None, 'Pyrenees'),
 (121, 'Cooperative', None, 'Pyrenees'),
 (122, 'Dupuy', 'Charles', 'Pyrenees'),
 (123, 'Laurent', 'Pierre', 'Pyrenees'),
 (124, 'Daurat Fort', 'Robert', 'Pyrenees'),
 (125, 'Baldes', 'Jean', 'Sud'),
 (126, 'Jouffreau', 'Jean', 'Sud'),
 (127, 'Brumont', 'Alban', 'Sud'),
 (129, 'Barrere', 'Alfred', 'Sud')]

#### Exercise 2.7

What clients (buveurs) have bought at least one wine from 1980?

In [100]:
%%sql
SELECT DISTINCT c.prenom, c.nom, mill
FROM customer c
INNER JOIN ventes v ON c.NB = v.NB
INNER JOIN wine w ON v.NV = w.NV
WHERE mill = 1980

 * sqlite:///wine.db
Done.

[('Antonin', 'Artaud', 1980),
 ('Andre', 'Gide', 1980),
 ('Jean', 'Giono', 1980),
 ('Louis', 'Aragon', 1980),
 (None, 'Lautreamont', 1980),
 ('Stephane', 'Mallarme', 1980)]

#### Exercise 2.8

What clients (buveurs) have NOT bought any wine from 1980?

In [119]:
%%sql
SELECT c.prenom, c.nom, sum(CASE WHEN w.mill = 1980 THEN 1 ELSE 0 END) nbr80, mill
FROM customer c
INNER JOIN ventes v ON c.NB = v.NB
INNER JOIN wine w ON v.NV = w.NV
GROUP BY c.nom, c.prenom
HAVING nbr80 = 0

 * sqlite:///wine.db
Done.

[('Emile', 'Ajar', 0, 1978),
 ('Yann', 'Andersen', 0, 1973),
 ('Jean', 'Anouilh', 0, 1978),
 ('Guillaume', 'Apollinaire', 0, 1968),
 (None, 'Aristote', 0, 1975),
 ('Raymond', 'Aron', 0, 1978),
 ('Fernando', 'Arrabal', 0, 1975),
 ('Jacques', 'Audiberti', 0, 1974),
 ('Georges', 'Bataille', 0, 1975),
 ('Charles', 'Baudelaire', 0, 1943),
 ('Jean Louis', 'Bory', 0, 1977),
 ('Albert', 'Camus', 0, 1943),
 ('Lewis', 'Carroll', 0, 1976),
 (None, 'Ciceron', 0, 1943),
 ('Jean', 'Cocteau', 0, 1968),
 ('Paul Louis', 'Courrier', 0, 1968),
 (None, 'Dante', 0, 1976),
 ('Denis', 'Diderot', 0, 1968),
 ('Fiodor', 'Dostoievsky', 0, 1968),
 ('Gustave', 'Flaubert', 0, 1943),
 ('Theophile', 'Gauthier', 0, 1974),
 ('Thomas', 'Hardy', 0, 1974),
 ('Franz', 'Kafka', 0, 1978),
 ('Jean de', 'La Fontaine', 0, 1914),
 ('Pierre Carlet de Chamblain de', 'Marivaux', 0, 1968),
 (None, 'Moliere', 0, 1974),
 ('Michel de', 'Montaigne', 0, 1984),
 (None, 'Ovide', 0, 1975),
 ('Marcel', 'Proust', 0, 1978),
 ('Pierre', 'Ronsard', 0, 1974),
 ('Rene', 'Roussel', 0, 1972),
 ('Georges', 'Sand', 0, 1974),
 ('Jules', 'Verne', 0, 1943),
 ('Alfred de', 'Vigny', 0, 1974),
 ('Oscar', 'Wilde', 0, 1978),
 ('Virginia', 'Woolf', 0, 1983),
 ('Emile', 'Zola', 0, 1983)]

#### Exercise 2.9

What clients (buveurs) have bought ONLY wines from 1980?

In [127]:
%%sql
SELECT c.prenom, c.nom, sum(CASE WHEN w.mill = 1980 THEN 1 ELSE 0 END) nbr80, COUNT(c.nom) nbr_nom, COUNT(c.prenom) nbr_prenom, mill
FROM customer c
INNER JOIN ventes v ON c.NB = v.NB
INNER JOIN wine w ON v.NV = w.NV
GROUP BY c.nom, c.prenom
HAVING (nbr80 = nbr_nom OR nbr80 = nbr_prenom AND nbr80 != 0)

 * sqlite:///wine.db
Done.

[('Andre', 'Gide', 18, 18, 18, 1980),
 ('Jean', 'Giono', 1, 1, 1, 1980),
 (None, 'Lautreamont', 1, 1, 0, 1980)]

#### Exercise 2.10

List all wines from 1980

In [139]:
%%sql
SELECT DISTINCT *
FROM wine
WHERE mill = 1980

 * sqlite:///wine.db
Done.

[(1, 'Mercurey', 11.5, 1980),
 (4, 'Mercurey', 10.9, 1980),
 (16, 'Meursault', 12.1, 1980),
 (20, 'Cote de Brouilly', 12.1, 1980),
 (26, 'Chateau Corton Grancey', None, 1980),
 (28, 'Volnay', 11, 1980),
 (43, 'Fleurie', 11.4, 1980),
 (74, 'Arbois', 12, 1980),
 (78, 'Etoile', 12, 1980),
 (79, 'Seyssel', 11, 1980),
 (80, 'Seyssel', 11, 1980),
 (81, 'Cornas', 11.1, 1980),
 (82, 'Cornas', 11, 1980),
 (83, 'Saint Amour', 10, 1980),
 (84, 'Rasteau', 10, 1980),
 (85, 'Tavel', 11, 1980),
 (86, 'Tavel', 11, 1980),
 (87, 'Cotes de Provence', None, 1980)]

#### Exercise 2.11

What are the wines from 1980 bought by NB=2?

In [132]:
%%sql
SELECT c.NB, cru, degre, mill
FROM wine w
INNER JOIN ventes v ON w.NV = v.NV
INNER JOIN customer c ON v.NB = c.NB
Where c.NB = 2

 * sqlite:///wine.db
Done.

[(2, 'Mercurey', 11.5, 1980),
 (2, 'Pommard', 11.7, 1976),
 (2, 'Beaujolais Villages', 11.8, 1979)]

#### Exercise 2.12

What clients (buveurs) have bought ALL the wines from 1980?

In [142]:
%%sql
SELECT c.NB, c.NOM, c.PRENOM, QTE, MILL
FROM customer c
INNER JOIN ventes v ON c.NB = v.NB
INNER JOIN wine w ON v.NV = w.NV
WHERE w.MILL =1980
GROUP BY c.NB
HAVING COUNT(*) = (SELECT COUNT(DISTINCT w.NV) FROM wine w WHERE w.MILL=1980)

 * sqlite:///wine.db
Done.

[(44, 'Gide', 'Andre', 18, 1980)]